.botaoVermelho{
    
        margin-right: 20px !important; 
        border-color: black !important;
        background-color: #f00 !important   ;
        color: white !important;
            
     
}
.centrinho{
   margin: auto;
  margin-top: 16%;}
