.caixa{
    background-color: #101010;
}

.texto{
    color: white !important;
    
}

.botão {
        border-color: black !important;
        background-color: #f00 !important   ;
        color: white !important;
        
}

.botão :hover {
    
    border-color: black !important;
    background-color: rgb(189, 2, 2) !important ;
    color: white!important
    
} 

.fundo{
    background-color: white !important;
}