.cursor{   
    cursor: pointer;
    color: white;

}
.text-decoration-none{
    text-decoration: none !important;
}
.menu{
    position: static;
    justify-content: center;
    display: flex;
    background: #000 !important
;align-content: center;

}
.login{
    color: white !important 
}

.logopequeno{
    height:6vh ;
    display: flex;

}