.cursor{   
    cursor: pointer;
    color: white;

}
.text-decoration-none{
    text-decoration: none;
}
.menu{
    position: static;
    background: #000
}

position="static" style={{background: '#000'}}